<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554534771773-gouo6rrj8ra00clivpqcd6es6bmq99bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554534771773-gouo6rrj8ra00clivpqcd6es6bmq99bs</string>
	<key>API_KEY</key>
	<string>AIzaSyDec9g8-TDR_C6GyVaPY6on0fShKEuE7-8</string>
	<key>GCM_SENDER_ID</key>
	<string>554534771773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.z.chatapplication</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4a0c2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4a0c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554534771773:ios:0a90479ac2318ea3611e54</string>
</dict>
</plist>